################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Debug
/x64/Debug/PP.tlog
/x64/Debug
/PP.vcxproj.user
/PP.vcxproj.filters
/PP.vcxproj
/PP.sln
/Out.txt
/In.txt
/PPUnitTest/x64/Debug/vc142.pdb
/PPUnitTest/x64/Debug/vc142.idb
/PPUnitTest/x64/Debug/PPUnitTest.vcxproj.FileListAbsolute.txt
/PPUnitTest/x64/Debug/PPUnitTest.tlog/PPUnitTest.write.1u.tlog
/PPUnitTest/x64/Debug/PPUnitTest.tlog/PPUnitTest.lastbuildstate
/PPUnitTest/x64/Debug/PPUnitTest.tlog/link.write.1.tlog
/PPUnitTest/x64/Debug/PPUnitTest.tlog/link.read.1.tlog
/PPUnitTest/x64/Debug/PPUnitTest.tlog/link.command.1.tlog
/PPUnitTest/x64/Debug/PPUnitTest.tlog/CL.write.1.tlog
/PPUnitTest/x64/Debug/PPUnitTest.tlog/CL.read.1.tlog
/PPUnitTest/x64/Debug/PPUnitTest.tlog/CL.command.1.tlog
/PPUnitTest/PPUnitTest.vcxproj.user
/PPUnitTest/PPUnitTest.vcxproj.filters
/PPUnitTest/PPUnitTest.vcxproj
/PPUnitTest/x64/Debug/pch.obj
/PPUnitTest/x64/Debug/vc.nativecodeanalysis.all.xml
/PPUnitTest/x64/Debug/PPUnitTest.pchast
/PPUnitTest/x64/Debug/PPUnitTest.pch
/PPUnitTest/x64/Debug/PPUnitTest.obj
/PPUnitTest/x64/Debug/PPUnitTest.nativecodeanalysis.xml
/PPUnitTest/x64/Debug/PPUnitTest.nativecodeanalysis.sarif
/PPUnitTest/x64/Debug/PPUnitTest.log
/PPUnitTest/x64/Debug/PPUnitTest.dll.recipe
/PPUnitTest/x64/Debug/PPUnitTest.Build.CppClean.log
/PPUnitTest/x64/Debug/pch.nativecodeanalysis.xml
/PPUnitTest/x64/Debug/pch.nativecodeanalysis.sarif
/PPUnitTest/x64/Debug/NativeCodeAnalysis.read.1.tlog
/PPUnitTest/x64/Debug/CodeAnalysisResultManifest.txt
/PPUnitTest/test/test_sort/sort_output.txt
/PPUnitTest/test/test_sort/sort_input.txt
/PPUnitTest/test/test_sort/sort_example.txt
/PPUnitTest/test/test_only_bush_out/only_bush_output.txt
/PPUnitTest/test/test_only_bush_out/only_bush_input.txt
/PPUnitTest/test/test_only_bush_out/only_bush_example.txt
/PPUnitTest/test/test_io/tree_io/output_tree.txt
/PPUnitTest/test/test_io/tree_io/input_tree.txt
/PPUnitTest/test/test_io/tree_io/example_tree.txt
/PPUnitTest/test/test_io/plant_io/output_tree.txt
/PPUnitTest/test/test_io/plant_io/output_flower.txt
/PPUnitTest/test/test_io/plant_io/output_bush.txt
/PPUnitTest/test/test_io/plant_io/input_tree.txt
/PPUnitTest/test/test_io/plant_io/input_flower.txt
/PPUnitTest/test/test_io/plant_io/input_bush.txt
/PPUnitTest/test/test_io/plant_io/example_tree.txt
/PPUnitTest/test/test_io/plant_io/example_flower.txt
/PPUnitTest/test/test_io/plant_io/example_bush.txt
/PPUnitTest/test/test_io/flower_io/output_flower.txt
/PPUnitTest/test/test_io/flower_io/input_flower.txt
/PPUnitTest/test/test_io/flower_io/example_flower.txt
/PPUnitTest/test/test_io/bush_io/output_bush.txt
/PPUnitTest/test/test_io/bush_io/input_bush.txt
/PPUnitTest/test/test_io/bush_io/example_bush.txt
*.h
/PPUnitTest/pch.cpp
/PPUnitTest/x64/Debug/PPUnitTest.tlog/link.delete.1.tlog
