################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Debug
/x64/Debug
/PP.vcxproj.user
/PP.vcxproj.filters
/PP.vcxproj
/PP.sln
/Out.txt
/In.txt
